.container-banner-tarja {
  width: 100%;
  margin: 2rem 0 5rem;

  img {
    width: 100%;
  }
}
 
@media screen and (min-width: 50px) and (max-width: 768px) {
  .banner-tarja-mobile {
    display: flex;
  }

  .banner-tarja-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .banner-tarja-mobile {
    display: none;
  }

  .banner-tarja-desktop {
    display: flex;
  }
}