.div-banner-principal {
  height: 100%;

  .banner-principal {
    width: 100%;
    height: 100%;
  }

  .thumbs-wrapper {
    display: none;
  }

  .carousel-status {
    display: none;
  }

  .control-dots {
    display: none;
  }

}
